/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "Canela";
    src: url("../fonts/Canela-Medium.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Canela-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/Canela-Medium.otf") format("opentype"), /* Open Type Font */
      url("../fonts/Canela-Medium.svg") format("svg"), /* Legacy iOS */
      url("../fonts/Canela-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/Canela-Medium.woff") format("woff"), /* Modern Browsers */
      url("../fonts/Canela-Medium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

body {
    color:#0f1726;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Canela' !important;
}
.jumbotron {
    margin-top:70px;
    background: #FFFFFF;
    text-align: left;
}
.fixed-navbar {
    padding: 15px;
    background: #FFF;
    position:fixed;
    z-index:10000;
    width: 100%;
    opacity:90%;
    border-bottom: 1px solid ABABAB;
}
.meaning {
    font-size:12px;
    color:#CCCCCC;
}
.sub-meaning {
    margin-left:15px;
}

.bwphoto {
    filter: grayscale(100%);
    margin-bottom:10px;
}
.bwphoto:hover {
    filter: grayscale(85%);
}